<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" version="XHTML+RDFa 1.0" 
    xmnlns:clip='http://www.rdfclip.com/resource/'
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    >

    <meta property="dc:creator" content="Juan Enrique Munoz" />

    <head>
        <title>{% block title %}RDF Clip {% endblock %} - {{user}}</title>
        {% media css:style.css %}
        <!-- CDN 
            <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>        
            <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"> </script>
        -->
        {% media js:Lib/jquery.min.js %}
        {% media js:Lib/jquery.tmpl.min.js %}
        <script type="text/javascript">$.noConflict();</script>
        {% media js:Base/base.js %}

        {% block head %} {% endblock %}
    </head>

    <body>
        <H1>{% block header %} {% endblock %}</H1>
        <!--  Logged in as: {{user}} -->
        
        {% block content %} {% endblock %}

        <script type='text/javascript'>
            if(console){
                console.log({{debug}});
            }
        </script>
    </body>
</html>


