{% extends "base.html" %}
{% load media %}

{% block title %}RDF Data Visualization{% endblock %}

{% block head %}
    {% media css:Lib/jquery.jqplot.min.css %}
    {% media css:Lib/jquery.datatables.demo_table.css %}
    {% media css:Lib/jquery.datatables.demo_page.css %}
    {% media css:Lib/jquery.cluetip.css %}
    {% media css:Components/DropDownList.base.css %}
    {% media css:Components/MagicTextArea.base.css %}
    {% media css:Views/rdfadmin.query.css %}

    <script type="text/javascript">
        var proxy_url = "{% url rdfadmin.views.proxy %}";
        var explore_url = "{% url rdfadmin.views.explore %}";
        var recent_queries_url = "{% url rdfadmin.handlers.recent_query_resource%}"
        var saved_queries_url = "{% url rdfadmin.handlers.saved_query_resource%}"
    </script>
{% endblock %}

{% block header %}Query Sparql Endpoint {% endblock %}

{% block content %}
    <div id="mainWrap">

        <div class="container inline_float" id='leftPanel'>
            <h3>Sample Queries</h3>
            <script id='savedQueriesTemplate' title='${title}'type='text/x-jquery-tmpl'>
                <li>${name}</li>
            </script>
            <ul id="savedQueriesList">
                Loading....
            </ul>

            <h3>Graphs</h3>
            <script id='graphsTemplate' type='text/x-jquery-tmpl'>
                <li><span>${graphName}</li>
            </script>
            <ul id="graphsList">
                Loading....
            </ul>

            <h3>Recent Queries</h3>
            <script id='recentQueriesTemplate' type='text/x-jquery-tmpl'>
                <li title="${title}">${querySnip}</li>
            </script>
            <ul id="recentQueriesList">
                Loading....
            </ul>
        </div>
        <div class="container inline_float" id="mainContainer">
            <label>EndPoint:</label><input type="text" onchange='loadGraphs();' value="{{sparql_endpoint}}" id="sparql_endpoint">
            <textarea id="query">SELECT * WHERE {?s ?p ?o} LIMIT 20</textarea>
            <button disabled onclick="executeQuery();">GO</button> 
            <span class="clickable" onclick="showTable()">Table&nbsp;</span>|&nbsp;
            <span onclick="showChart()" class="clickable">PieChart</span>&nbsp;|&nbsp;

            <div id='messages'>
            </div>
            <div id="imgDiv" style="display: none;">
                {% media img:Views/rdfadmin.loader.gif %}
            </div>
            <script id='tableTemplate' type='text/x-jquery-tmpl'>
                <table class='display'>
                    <thead><tr></tr></thead>
                    <tbody></tbody>
                </table>
            </script>
            <div id="table_div">
            </div>
            <div id='chart_div'>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    {% media js:Lib/jquery-fieldselection.pack.js %}
    {% media js:Lib/jquery.jqplot.min.js %}
    {% media js:Lib/jqplot.plugins/jqplot.pieRenderer.min.js %}
    {% media js:Lib/jquery.dataTables.min.js %}
    {% media js:Lib/jquery.cluetip.js %}
    {% media js:Lib/jquery.color.js %}
    {% media js:Lib/oop.js %}
    {% media js:Components/Notifier.js %}
    {% media js:Components/MagicTextarea.js %}
    {% media js:Components/DropDownList.js %}
    {% media js:Rdf/rdf.js %}
    {% media js:Views/rdfadmin.query.js %}

{% endblock %}
